body {
    background: url("../images/start_back.jpg");
    background-size: cover;

}

.body-zelda {
    background: url("../images/zelda-botw.jpg");
    background-size: cover;
}

.body-mario {
    background: url("../images/mushroom-kingdom.jpg");
    background-size: cover;
}

.body-pikachu {
    background: url("../images/pallet-town.jpg");
    background-size: cover;
}

.body-samus  {
    background: url("../images/ridley.jpg");
    background-size: cover;
}

.body-win {
    background: url("../images/victory.JPG");
    background-size: auto;
}

.body-lose {
    background: url("../images/game-over.jpg");
    background-size: cover;
    
}
.easter-egg {
    background: url("../images/easteregg.jpg");
    background-size: cover;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 48px;
    color: white;
}

img {
    width: 200px;
    height:
     200px;
}

button {
    font-size:28px;
    background-color: rgba(0, 0, 0, 0.753);
    border-color: rgba(47, 202, 52, 0.404);
    color: white;
    margin-bottom: 10px;
}

span {
    text-align: right;
}

.container {
    margin-left: 15px;
}

.title {
    background-color: #b094b57b;
    color: white;
    text-align: right;
    font-family: 'Germania One', cursive;
}

#your-char-mario {
    background-color: #d63e3ca1;
    color: white;
    width: 225px;
    margin: 10px 0 10px 0;
    padding-left: 5px;
}

.hero {
    background-color: darkblue;
    height: 250px;
    width: 250px;
    float: left;
    margin: 0 20px 0 10px;
    font-size: 36px;
    color: white;
}

.health {
    margin-left: 40px;
}
.chosen-hero {
    background-color: darkblue;
    height: 250px;
    width: 250px;
    float: left;
    margin: 0 25px 0 0;
    font-size: 36px;
    color: white;
}

.enemy-title {
    clear: both;
}

.enemy-char {
    background-color: darkblue;
    height: 250px;
    width: 250px;
    float: left;
    margin: 0 25px 0 0;
    font-size: 36px;
    color: white;
}

.villain {
    background-color: rgba(9, 93, 94, 0.87);
    height: 250px;
    width: 250px;
    float: left;
    margin: 0 25px 0 0;
    font-size: 36px;
    color: white;
}


.current-enemy {
    background-color: darkturquoise;
    height: 250px;
    width: 250px;
    float: left;
    margin: 0 25px 0 0;
    font-size: 36px;
    color: white;
}

.char-pic {
    margin-left: 20px;
    margin-right: auto;
    margin-top: 5px;
}

.fight {
    clear: both;
}
#hero1 {
    background-color: rgba(0, 139, 139, 0.658);
    
    background-size: 200px 200px;
}

#hero2 {
    background-color: rgba(0, 100, 0, 0.63);
    
    background-size: 200px 200px;
}

#hero3 {
    background-color: rgba(139, 0, 0, 0.555);
    
    background-size: 200px 200px;
}

#hero4 {
    background-color: rgba(255, 140, 0, 0.555);
    
    background-size: 200px 200px;
}

#villain11 {
    background-color: rgba(86, 197, 123, 0.616);
}

#villain12 {
    background-color: rgba(86, 197, 123, 0.616);
}

#villain13 {
    background-color: rgba(86, 197, 123, 0.616);
}

.current-enemy-l {
    background-color: #7ca16dad;
    height: 250px;
    width: 250px;
    float: left;
    margin: 0 25px 0 0;
    font-size: 36px;
    color: white;
}

#villain21 {
    background-color: rgb(104, 18, 65, .705);
}

#villain22 {
    background-color: rgba(104, 18, 65, 0.705);
}

#villain23 {
    background-color: rgba(104, 18, 65, 0.705);
}

.current-enemy-m {
    background-color: #d63e3ca1;
    height: 250px;
    width: 250px;
    float: left;
    margin: 0 25px 0 0;
    font-size: 36px;
    color: white;
}

#villain31 {
    background-color: #faec81c9;
    color: rgb(97, 97, 97);
}

#villain32 {
    background-color: #faec81c9;
    color: rgb(97, 97, 97);
}

#villain33 {
    background-color: #faec81c9;
    color: rgb(97, 97, 97);
}

.current-enemy-p {
    height: 250px;
    width: 250px;
    float: left;
    margin: 0 25px 0 0;
    font-size: 36px;
    color: white;
}

.current-enemy-s {
    background-color: rgba(9, 93, 94, 0.87);
    height: 250px;
    width: 250px;
    float: left;
    margin: 0 25px 0 0;
    font-size: 36px;
    color: white;
}
